<h3>Interactive CID radial plot</h3>

<label for="cid-method">
  Method:
</label>

<select id="cid-method">

  <option value="method_A">Method A</option>
  <option value="method_B">Method B</option>
  <option value="method_C">Method C</option>

</select>

<br><br>

<label for="cid-region">
  Region:
</label>

<select id="cid-region">

  <option value="Mediterranean Sea">Mediterranean Sea</option>
  <option value="Western Med">Western Med</option>
  <option value="Eastern Med">Eastern Med</option>
  <option value="Adriatic Sea">Adriatic Sea</option>
  <option value="Aegean Sea">Aegean Sea</option>
  <option value="Continental coastline">Continental coastline</option>
  <option value="Island coastline">Island coastline</option>

</select>

<br><br>

<div id="cid-radial-plot"></div>

<script src="{{ '/scripts/cid-radial-plot.js' | relative_url }}"></script>
